/* start: here: for the background */
body {
  margin: 0;
  padding: 0;
  background: url('../images/lower-antelope-canyon.jpg') center center/cover;
  height: 100vh;
  display: flex;
}

.footer-text {
  position: absolute;
  bottom: 20px;
  left: 60px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-size: 1.5em;
}

h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  color: #f1f37d;
  letter-spacing: 2px;
}

.visit {
  color: #f1f37d;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  line-height: 0px;
  margin-top: 0;
}

.today {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 3rem;
  line-height: 0px;
}

h1 {
  /* "National Park" Text background */
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 550;
  font-size: 25px;
  color: #f0f0f0;
  letter-spacing: 2px;
  line-height: 0;
}

/* --ends--- */

.overlay {
  /* main select dropdown container */
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: absolute;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-radius: 40px;
  position: absolute;
  top: 30%;
  left: 15%;
  border: 2px solid #ad3131;
}

label {
  /* select state text */
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

select {
  /* for my dropdown menu */
  width: 60%;
  margin-top: 1.5rem;
  font-size: 16px;
  background: rgba(77, 33, 33, 0.6);
  color: #f0f0f0;
  cursor: pointer;
}

.row {
  font-family: 'Sedan SC', sans-serif;
  letter-spacing: 1px;
  padding-top: 1.5rem;
}

/* ---- Parks settings ---- */
.parks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 20px;
  animation: grow 1.3s;
  z-index: 1000; /* to display in front */
}

/* to pop my Nat Parks */
@keyframes grow {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

.park-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ad3131;
  background: rgba(44, 36, 36, 0.6);
  text-align: center;
  width: 200px;
  max-height: 220px;
  align-items: center;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.5s; /* delay */
  margin: 1.2rem;
  z-index: 1000;
}

.park-card:hover {
  transform: scale(1.1);
}

.park-image {
  max-width: 150px;
  max-height: 130px;
  object-fit: cover;
  border-radius: 20px;
}

.park-name {
  font-family: 'Sedan SC', sans-serif;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  color: #f0f0f0;
}

/* 3rd page */
.park-image-large {
  width: 40%;
  height: auto;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  margin-top: 30px;
}

.details-container {
  background-color: rgba(36, 21, 21, 0.8);
  margin: 10%;
  border-radius: 40px;
  padding-bottom: 3%;
  align-items: center;
  border: 2px solid #ad3131;
}

.details-container h1 {
  font-family: 'Sedan SC', sans-serif;
  font-weight: lighter;
  font-size: 22px;
  color: #f0f0f0;
  text-align: center;
  margin: auto;
  width: 70%;
  padding-top: 5%;
}

.details-container h2 {
  font-family: 'Sedan SC', sans-serif;
  font-weight: lighter;
  color: #f0f0f0;
  text-align: center;
  margin: auto;
  width: 70%;
  padding-top: 7%;
}

p {
  font-family: 'Julius Sans One', sans-serif;
  color: #f0f0f0;
  text-align: center;
  font-style: italic;
  width: 85%;
  margin: auto;
  padding-top: 2rem;
  margin-bottom: 7%;
}

button {
  background-color: rgba(44, 40, 36, 0.9);
  border-color: #908781;
  color: #f0f0f0;
  font-family: 'Julius Sans One', sans-serif;
}

button:hover {
  transform: scale(1.1);
}

.back-button,
.home-button {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  padding: 6px 16px;
  position: absolute;
  align-items: center;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 20px;
  animation: grow 1.3s;
}

.details-container button {
  /* home-button in favorites */
  background-color: rgba(44, 40, 36, 0.9);
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  padding: 4px 16px;
  float: right;
  margin-right: 6%;
  margin-top: 11%;
}

#overlay3 {
  background-color: rgba(36, 21, 21, 0.8);
  margin: 10%;
  padding-bottom: 13%;
  border-radius: 40px;
  align-items: center;
  z-index: 1000;
}

.view-favorites-button {
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
  padding: 4px 16px;
}
