.bgText {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  color: #f1f37d;
  letter-spacing: 2px;
}

label {
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

select {
  width: 60%;
  margin-top: 1.5rem;
  font-size: 16px;
  background: rgba(77, 33, 33, 0.6);
  color: #f0f0f0;
  cursor: pointer;
}

.row {
  font-family: 'Sedan SC', sans-serif; /* "Your Destination" Text */
  letter-spacing: 1px;
  padding-top: 1.5rem;
}

hr {
  width: 80%;
}

/* Parks settings */
.parks-container {
  justify-content: space-around;
  display: flex;
  position: center;
  align-items: center;
}

.park-card {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ad3131;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: rgba(151, 76, 76, 0.6);
  text-align: center;
  margin: 2rem;
  width: 200px;
  height: 200px;
}

.park-image {
  max-width: 150px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 20px;
}

.park-name {
  font-size: 14px;
  font-weight: regular;
  color: #f0f0f0;
}
